.logo {
	width: 15em;
	margin: 2em;
}
nav>ul{
	float: right;
}
nav>ul>li {
	text-transform: uppercase;
	float: left;
	list-style-type: none;
	margin: 2em;
}
header {
	background-image: url("../img/header.png");
}